<span style='font-family:Georgia;  font-size: 50px'>  Курс "Пространственный анализ и моделирование в Python" </span>   

<div> <p id="header-bg-title"><br> <br></p> </div>


<span style='font-family:Georgia;font-size: 30px;  '> Блок 5. Пространственные отношения между объектами </span>  


<div> <p id="header-bg-title"><br> <br></p> </div>


<span style="font-family:Georgia; font-weight: bold; font-size: 14px "> 
    Автор: Инесса Трегубова <br>
    Канал: @datainthecity
</span>

</span>

<span style="color:red; font-family:Georgia; font-weight: bold; "> ДЗ. В этом ноутбуке 3 домашних задания: </span>

- [Задание 1](#task5)
- [Задание 2](#task6)
- [Задание 3](#task8)


<span style="font-family:Georgia"> **Цель**:   
    Научиться получать информацию о свойствах гео объектов, сравнивать их между собой и проверять пространственные отношения.
</span>   

<span style="font-family:Georgia"> **Когда это нужно:**
</span>
  - отранжировать/отфильтровать объекты по площади или длине
  - найти ближайший/самый дальний объект из списка
  - оценить удаленность точек, например сервисов-конкурентов
  - совместить несколько слоев в один

## <span style="font-family:Georgia"> Оглавление: </span>

   
   1. [Пространственные отношения](#spatial_relations)
   <br>
              
   2. [Поиск ближайших объектов в гео наборе](#datasets_dist)
   
      2.1 [Дистанция между структурой GeoSeries и точкой](#datasets_point_dist)
      
      2.2 [Дистанция между 2-мя структурами GeoSeries](#datasets_datasets_dist)
      
      2.3 [Проверка принадлежности объектов буферу](#buf_spatial_relations)
      
      2.4 [Пространственная сцепка](#spatial_join)

<a id="spatial_relations">  </a>
#  <span style='font-family:Georgia; font-size: 30px'> ПРОСТРАНСТВЕННЫЕ ОТНОШЕНИЯ </span>

<img src="https://pygis.io/_images/overlay_contains.jpg"
     alt="Markdown Monster icon"
     style="float: left; margin-right: 10px;width:350px;" />

<img src="https://pygis.io/_images/overlay_within.jpg"
     alt="Markdown Monster icon"
     style="float: left;  margin-right: 10px;width:350px;;" />
     

<img src="https://pygis.io/_images/overlay_intersects.jpg"
     alt="Markdown Monster icon"
     style="float: left; margin-right: 10px;width:350px;" />

<img src="https://pygis.io/_images/overlay_touches.jpg"
     alt="Markdown Monster icon"
     style="float: left; margin-right: 10px;width:350px;" />

<a id="task5"> </a>
<span style="color:red; font-family:Georgia; font-weight: bold; ">Задание 1 </span>    
<span style=" font-family:Georgia; font-weight: bold; "> Проверьте, как работают пространственные операции на буфере и точке. Допишите код, где необходимо </span>

In [ ]:
from shapely.geometry import Point

In [ ]:
point = Point(0.5, 0.5)

In [ ]:
buffer20 = point.buffer(2)

In [ ]:
print("Верно ли, что буфер содержит точку: {}".format(buffer20.contains(point)))

In [ ]:
print ("Верно ли, что точка содержит буфер: {}".format(..))

In [ ]:
print (": {}".format(..))Верно ли, что буфер содержит сам себя

In [ ]:
print("Верно ли, что буфер принадлежит точке: {}".format(buffer20.within(point)))

In [ ]:
print("Верно ли, что точка принадлежит буферу: {}".format())

In [ ]:
print("Верно ли, что буфер принадлежит самому себе: {}".format())

In [ ]:
print("Верно ли, что буфер пересекает точку: {}".format(buffer20.intersects(point)))

In [ ]:
print ("Верно ли, что точка пересекает буфер: {}".format(..))

In [ ]:
print ("Верно ли, что буфер пересекает сам себя: {}".format(..))

In [ ]:
print("Верно ли, что буфер касается точки: {}".format(buffer20.touches(point)))

In [ ]:
print("Верно ли, что точка касается буфера: {}".format())

In [ ]:
print("Верно ли, что буфер касается сам себя: {}".format())

<span style="color:red; font-family:Georgia; font-weight: bold; "> Конец задания</span>

<a id="datasets_dist">  </a>
# <span style='font-family:Georgia; font-size: 30px'> ПОИСК БЛИЖАЙШИХ ОБЪЕКТОВ В ГЕОНАБОРЕ </span>

<a id="datasets_point_dist">  </a>
##  <span style='font-family:Georgia; background-color:yellow;'> Дистанция между структурой GeoSeries и точкой </span>

**<span > ЗАДАЧА 1:   
 используя, файл gdf_metro.geojson найти ближайшую станцию метро к локации [55.78956365881177, 37.606846598229254]</span>**

Шаги:
   1. Читаем файл
   2. Проверяем тип набора 
   3. Проверяем систему координат 
   4. Меняем если необходимо
   5. Проецируем координаты [55.78956365881177, 37.606846598229254] в UTM проекцию
   6. Вычисляем расстояние

In [1]:
import math
from pyproj import CRS, Transformer
import geopandas as gpd

**<span style='font-family:Georgia'> 1. Читаем файл </span>**

In [10]:
gdf_metro = gpd.read_file("gdf_metro.geojson")

In [11]:
gdf_metro.estimate_utm_crs()

<Projected CRS: EPSG:32637>
Name: WGS 84 / UTM zone 37N
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: Between 36°E and 42°E, northern hemisphere between equator and 84°N, onshore and offshore. Djibouti. Egypt. Eritrea. Ethiopia. Georgia. Iraq. Jordan. Kenya. Lebanon. Russian Federation. Saudi Arabia. Somalia. Sudan. Syria. Türkiye (Turkey). Ukraine.
- bounds: (36.0, 0.0, 42.0, 84.0)
Coordinate Operation:
- name: UTM zone 37N
- method: Transverse Mercator
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

**<span style='font-family:Georgia'> 2. Проверяем тип набора  </span>**

In [12]:
print(type(gdf_metro))

<class 'geopandas.geodataframe.GeoDataFrame'>

In [13]:
gdf_metro.geometry

0       POINT (37.63168 55.75732)
1        POINT (37.6312 55.75686)
2       POINT (37.63195 55.75724)
3        POINT (37.63308 55.7531)
4       POINT (37.63356 55.75307)
                  ...
1009    POINT (37.73067 55.73288)
1010    POINT (37.73086 55.73351)
1011     POINT (37.59791 55.5837)
1012    POINT (37.74396 55.64891)
1013    POINT (37.67665 55.71159)
Name: geometry, Length: 1014, dtype: geometry

In [14]:
gdf_metro.head()

   Unnamed: 0  global_id Caption NameOfStation                   geometry
0           0    1773539   metro   Китай-город  POINT (37.63168 55.75732)
1           1    1773540   metro   Китай-город   POINT (37.6312 55.75686)
2           2    1773541   metro   Китай-город  POINT (37.63195 55.75724)
3           3    1773542   metro   Китай-город   POINT (37.63308 55.7531)
4           4    1773543   metro   Китай-город  POINT (37.63356 55.75307)

In [15]:
gdf_metro = gdf_metro.drop("Unnamed: 0", axis=1)

In [16]:
gdf_metro.head()

   global_id Caption NameOfStation                   geometry
0    1773539   metro   Китай-город  POINT (37.63168 55.75732)
1    1773540   metro   Китай-город   POINT (37.6312 55.75686)
2    1773541   metro   Китай-город  POINT (37.63195 55.75724)
3    1773542   metro   Китай-город   POINT (37.63308 55.7531)
4    1773543   metro   Китай-город  POINT (37.63356 55.75307)

 **<span style='font-family:Georgia'> 3. Проверяем систему координат  </span>**

In [17]:
gdf_metro.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

 **<span style='font-family:Georgia'> 4. Меняем систему координат для датасета  </span>**

In [ ]:
pin = gdf_metro.loc[0, "geometry"]

! Библиотека shapely и библиотека geopandas воспринимают широту и долготу в разном порядке. Для shapely x - широта, y-долгота. Для Geopandas - наоборот

In [20]:
print(*gdf_metro.loc[0, "geometry"].coords)

(37.6316766, 55.7573154)

In [22]:
from shapely.geometry import Point
pin_point = Point(pin.xy[1][0], pin.xy[0][0])

In [35]:
print(*pin_point.coords)

(55.7573154, 37.6316766)

In [21]:
# функция из предыдущего ноутбук
import math
def convert_wgs_to_utm(lon: float, lat: float):
    """Based on lat and lng, return best utm epsg-code"""
    utm_band = str((math.floor((lon + 180) / 6) % 60) + 1)
    if len(utm_band) == 1:
        utm_band = "0" + utm_band
    if lat >= 0:
        epsg_code = "326" + utm_band
        return epsg_code
    epsg_code = "327" + utm_band
    return epsg_code

In [36]:
crs_str = "epsg:" + convert_wgs_to_utm(lat=pin_point.x, lon=pin_point.y)
print(crs_str)
crs_fin = CRS.from_user_input(crs_str)
crs_fin

epsg:32637

<Projected CRS: EPSG:32637>
Name: WGS 84 / UTM zone 37N
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: Between 36°E and 42°E, northern hemisphere between equator and 84°N, onshore and offshore. Djibouti. Egypt. Eritrea. Ethiopia. Georgia. Iraq. Jordan. Kenya. Lebanon. Russian Federation. Saudi Arabia. Somalia. Sudan. Syria. Türkiye (Turkey). Ukraine.
- bounds: (36.0, 0.0, 42.0, 84.0)
Coordinate Operation:
- name: UTM zone 37N
- method: Transverse Mercator
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [37]:
gdf_metro_reproj = gdf_metro.to_crs(crs_fin)
gdf_metro_reproj.crs

<Projected CRS: EPSG:32637>
Name: WGS 84 / UTM zone 37N
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: Between 36°E and 42°E, northern hemisphere between equator and 84°N, onshore and offshore. Djibouti. Egypt. Eritrea. Ethiopia. Georgia. Iraq. Jordan. Kenya. Lebanon. Russian Federation. Saudi Arabia. Somalia. Sudan. Syria. Türkiye (Turkey). Ukraine.
- bounds: (36.0, 0.0, 42.0, 84.0)
Coordinate Operation:
- name: UTM zone 37N
- method: Transverse Mercator
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [45]:
gdf_metro_reproj.head()

   global_id Caption NameOfStation                        geometry
0    1773539   metro   Китай-город  POINT (414129.655 6179917.682)
1    1773540   metro   Китай-город  POINT (414099.049 6179867.032)
2    1773541   metro   Китай-город  POINT (414146.675 6179908.529)
3    1773542   metro   Китай-город  POINT (414208.589 6179446.624)
4    1773543   metro   Китай-город   POINT (414238.467 6179443.14)

 **<span style='font-family:Georgia'> 5. Проецируем точку в UTM  </span>**

In [46]:
from shapely.geometry import Point

In [47]:
my_loc = Point([55.78956365881177, 37.606846598229254])

In [48]:
# Создаем функцию из ранее выполненных шагов, чтобы проецировать точку в нужную систему координат
def receive_new_coords_point(point):
    init_crs = "epsg:4326"
    init_crs = CRS.from_string(init_crs)

    crs_str = "epsg:" + convert_wgs_to_utm(lon=point.y, lat=point.x)
    crs_fin = CRS.from_user_input(crs_str)
    print(crs_str)

    transformer = Transformer.from_crs(init_crs, crs_fin)
    new_coords = transformer.transform(xx=point.x, yy=point.y)

    return Point(new_coords)

In [49]:
my_loc_utm = receive_new_coords_point(my_loc)

epsg:32637

In [50]:
my_loc_utm.coords.xy

(array('d', [412643.69835619134]), array('d', [6183537.349168014]))

 **<span style='font-family:Georgia'> 6. Считаем дистанцию от каждой станции до нашей локации  </span>**

**<span style='font-family:Georgia'>! *.distance*: слева -  GeoSeries, справа - GeoSeries или точка </span>**

In [ ]:
gdf_metro_reproj["dist2loc"] = gdf_metro_reproj["geometry"].distance(my_loc_utm)

In [52]:
gdf_metro_reproj.head()

,global_id,Caption,NameOfStation,geometry,dist2loc
0,1773539,metro,Китай-город,POINT (414129.655 6179917.682),3912.807129
1,1773540,metro,Китай-город,POINT (414099.049 6179867.032),3948.325298
2,1773541,metro,Китай-город,POINT (414146.675 6179908.529),3927.757132
3,1773542,metro,Китай-город,POINT (414208.589 6179446.624),4379.830653
4,1773543,metro,Китай-город,POINT (414238.467 6179443.14),4393.840759

In [54]:
gdf_metro_reproj.sort_values("dist2loc", ascending=True)

,global_id,Caption,NameOfStation,geometry,dist2loc
190,1773744,metro,Марьина роща,POINT (413217.538 6183967.848),717.370819
539,1774133,metro,Марьина роща,POINT (413224.2 6183990.537),736.451865
189,1773743,metro,Марьина роща,POINT (413279.417 6183966.067),766.770741
756,59715004,metro,Марьина роща,POINT (413295.325 6184003.255),801.052707
266,1773827,metro,Менделеевская,POINT (412135.009 6182699.227),980.415059
...,...,...,...,...,...
926,930071523,metro,Коммунарка,POINT (403385.96 6158113.31),27057.115531
429,1774004,metro,Улица Скобелевская,POINT (408725.336 6156692.573),27129.238787
11,1773550,metro,Бульвар адмирала Ушакова,POINT (407983.529 6156408.096),27526.597345
328,1773894,metro,Улица Горчакова,POINT (407365.16 6156094.926),27945.475117
14,1773553,metro,Бунинская аллея,POINT (406281.215 6155628.118),28625.275328

In [55]:
gdf_metro_reproj.groupby("NameOfStation")["dist2loc"].min().sort_values()[:5]

NameOfStation
Марьина роща       717.370819
Менделеевская      980.415059
Достоевская        992.138239
Савёловская       1145.101863
Новослободская    1177.893996
Name: dist2loc, dtype: float64


**<span style='font-family:Georgia; font-size:16px'>
ЗАДАЧА 2: вывести станции метро, где до ближайшей соседней станции метро больше 2 км. 
    </span>**

**<span style='font-family:Georgia;background-color:#00ffff;'> 1 способ решения. С помощью расчета дистанции между всеми парами объектов</span>**

<a id="datasets_datasets_dist">  </a>
##  <span style='font-family:Georgia; background-color:yellow;'> Дистанция между 2-мя структурами GeoSeries (внутри геонабора)</span>

<span style="font-family:Georgia;">Шаги:    </span>        
   1. Проверяем тип датасета
   2. Проверяем и при необходимости меняем CRS 
   3. В цикле или с помощью генератора считаем дистанцию между станцией и всем остальными станциями с другим названием 
   4. Сохраняем минимальное расстояние в отдельную колонку нашего датасета
   5. Фильтруем

<span style=" font-family:Georgia; font-weight: bold; "> 1.  Проверяем тип датасета</span>

In [56]:
type(gdf_metro)

geopandas.geodataframe.GeoDataFrame

<span style=" font-family:Georgia; font-weight: bold; ">2.  Проверяем и при необходимости меняем CRS</span>

In [57]:
gdf_metro.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [58]:
print("target crs:", crs_fin)

target crs: epsg:32637

In [59]:
gdf_metro_utm = gdf_metro.to_crs(crs_fin)

In [60]:
gdf_metro_utm.crs

<Projected CRS: EPSG:32637>
Name: WGS 84 / UTM zone 37N
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: Between 36°E and 42°E, northern hemisphere between equator and 84°N, onshore and offshore. Djibouti. Egypt. Eritrea. Ethiopia. Georgia. Iraq. Jordan. Kenya. Lebanon. Russian Federation. Saudi Arabia. Somalia. Sudan. Syria. Türkiye (Turkey). Ukraine.
- bounds: (36.0, 0.0, 42.0, 84.0)
Coordinate Operation:
- name: UTM zone 37N
- method: Transverse Mercator
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [62]:
from tqdm import tqdm

<span style=" font-family:Georgia; font-weight: bold; "> 3. В цикле или с помощью генератора считаем дистанцию между станцией и всем остальными станциями с другим названием </span>   
 <span style=" font-family:Georgia; font-weight: bold; "> 4. Сохраняем минимальное расстояние в отдельную колонку нашего датасета</span>

In [63]:
gdf_metro_utm['min_dist'] = -1.0
for index, row in tqdm(gdf_metro_utm.iterrows()):
    name = row['NameOfStation']
    geom = row['geometry']
    
    dist_array = gdf_metro_utm[gdf_metro_utm['NameOfStation'] != name]['geometry'].distance(geom)
   
    gdf_metro_utm.loc[index, 'min_dist'] = dist_array.min()
gdf_metro_utm

1014it [00:00, 2590.44it/s]

,global_id,Caption,NameOfStation,geometry,min_dist
0,1773539,metro,Китай-город,POINT (414129.655 6179917.682),310.413499
1,1773540,metro,Китай-город,POINT (414099.049 6179867.032),328.933166
2,1773541,metro,Китай-город,POINT (414146.675 6179908.529),328.920934
3,1773542,metro,Китай-город,POINT (414208.589 6179446.624),715.091334
4,1773543,metro,Китай-город,POINT (414238.467 6179443.14),742.381106
...,...,...,...,...,...
1009,1048091862,metro,Нижегородская,POINT (420292.005 6177079.886),1229.383490
1010,1048091868,metro,Нижегородская,POINT (420304.778 6177149.672),1289.924707
1011,1048314798,metro,Аннино,POINT (411620.255 6160640.258),1187.425516
1012,1056441570,metro,Марьино,POINT (420957.293 6167720.285),1134.253122
1013,1056492949,metro,Дубровка,POINT (416854.419 6174774.592),808.245127

In [85]:
print(
    "Проверяем, что для всех станций посчиталась дистанция:{}".format(
        gdf_metro_utm["min_dist"].min() > 0
    )
)

Проверяем, что для всех станций посчиталась дистанция:True

<span style=" font-family:Georgia; font-weight: bold; "> Фильтруем </span>

In [86]:
remote_stations = gdf_metro_utm[gdf_metro_utm["min_dist"] > 2000]["NameOfStation"].unique()

In [87]:
remote_stations

array(['Отрадное', 'Новокосино', 'Строгино', 'Университет', 'Тропарёво',
       'Белокаменная', 'Озерная', 'Коптево', 'Филатов луг', 'Прокшино'],
      dtype=object)

<span style="font-family:Georgia;  font-size:14px"> А можно по-другому? </span>

**<span style='font-family:Georgia;background-color:#00ffff;'> 2-ой способ решения. С использованием буфера и проверки отношения *within* </span>**

<a id="buf_spatial_relations">  </a>
##  <span style='font-family:Georgia; background-color:yellow;'> Проверка принадлежности объектов буферу</span>

Шаги:
    
    1. Строим от каждой станции буфер 2 км
    2. Для каждой пары станций проверяем, входит ли одна в 2км радиус другой станции
    3. Считаем для каждой станции, сколько выходов со станций с другим названием входят в ее 2км буфер
    4. Выводим только те станции, где у всех выходов кол-во соседних станций = 0

<span style=" font-family:Georgia; font-weight: bold; "> 1. Строим от каждой станции буфер 2 км </span>

In [68]:
gdf_metro_utm["geometry_buffer"] = gdf_metro_utm["geometry"].buffer(2000)
gdf_metro_utm.head()

,global_id,Caption,NameOfStation,geometry,min_dist,geometry_buffer
0,1773539,metro,Китай-город,POINT (414129.655 6179917.682),310.413499,"POLYGON ((416129.655 6179917.682, 416120.024 6..."
1,1773540,metro,Китай-город,POINT (414099.049 6179867.032),328.933166,"POLYGON ((416099.049 6179867.032, 416089.419 6..."
2,1773541,metro,Китай-город,POINT (414146.675 6179908.529),328.920934,"POLYGON ((416146.675 6179908.529, 416137.044 6..."
3,1773542,metro,Китай-город,POINT (414208.589 6179446.624),715.091334,"POLYGON ((416208.589 6179446.624, 416198.958 6..."
4,1773543,metro,Китай-город,POINT (414238.467 6179443.14),742.381106,"POLYGON ((416238.467 6179443.14, 416228.837 61..."

<span style=" font-family:Georgia; font-weight: bold; ">  Шаги в цикле:  </span>    

<span style=" font-family:Georgia; font-weight: bold; "> 2. Для каждой пары станций проверяем, входит ли одна в 2км радиус другой станции
</span>   
<span style=" font-family:Georgia; font-weight: bold; "> 3. Считаем для каждой станции, сколько выходов со станций с другим названием входят в ее 2км буфер  
</span>

In [70]:
gdf_metro_utm['number_neigbors_2km'] = 0

for index, row in tqdm(gdf_metro_utm.iterrows()):
    
    name = row['NameOfStation']
    geom_buffer = row['geometry_buffer']
    
    #2. Для каждой пары станций проверяем, входит ли одна в 2км радиус другой станции    
    flag_array = gdf_metro_utm[gdf_metro_utm['NameOfStation'] != name]['geometry'].within(geom_buffer) 
    
    #3. Считаем для каждой станции, сколько выходов со станций с другим названием входят в ее 2км буфер   
    gdf_metro_utm.loc[index,'number_neigbors_2km'] = sum(flag_array)
gdf_metro_utm.head()

1014it [00:00, 2087.13it/s]

,global_id,Caption,NameOfStation,geometry,min_dist,geometry_buffer,number_neigbors_2km
0,1773539,metro,Китай-город,POINT (414129.655 6179917.682),310.413499,"POLYGON ((416129.655 6179917.682, 416120.024 6...",65
1,1773540,metro,Китай-город,POINT (414099.049 6179867.032),328.933166,"POLYGON ((416099.049 6179867.032, 416089.419 6...",65
2,1773541,metro,Китай-город,POINT (414146.675 6179908.529),328.920934,"POLYGON ((416146.675 6179908.529, 416137.044 6...",64
3,1773542,metro,Китай-город,POINT (414208.589 6179446.624),715.091334,"POLYGON ((416208.589 6179446.624, 416198.958 6...",55
4,1773543,metro,Китай-город,POINT (414238.467 6179443.14),742.381106,"POLYGON ((416238.467 6179443.14, 416228.837 61...",55


<span style=" font-family:Georgia; font-weight: bold; "> 4. Выводим только те станции, где у всех выходов кол-во соседних станций = 0 </span>

Cделаем это, проверив максимальное значение соседей в 2 км для каждого названия станции. Оно должно должно быть равно 0. Если больше, это значит, что хотя бы у 1 из выходов нашелся выход из другой станции в радиусе 2 км)

In [71]:
series_num_neigbor = gdf_metro_utm.groupby(["NameOfStation"])[
    "number_neigbors_2km"
].max()
series_num_neigbor.sort_values()

NameOfStation
Филатов луг            0
Белокаменная           0
Прокшино               0
Озерная                0
Новокосино             0
                      ..
Площадь Революции     74
Чистые пруды          75
Сретенский бульвар    77
Тургеневская          77
Трубная               77
Name: number_neigbors_2km, Length: 238, dtype: int64

In [72]:
series_num_neigbor[series_num_neigbor.values == 0]

NameOfStation
Белокаменная    0
Коптево         0
Новокосино      0
Озерная         0
Прокшино        0
Строгино        0
Филатов луг     0
Name: number_neigbors_2km, dtype: int64

In [75]:
print(
    "Список наиболее удаленных станций: {}".format(
        series_num_neigbor[series_num_neigbor == 0].index.tolist()
    )
)

Список наиболее удаленных станций: ['Белокаменная', 'Коптево', 'Новокосино', 'Озерная', 'Прокшино', 'Строгино', 'Филатов луг']

<a id="task6"> </a>
<span style="color:red; font-family:Georgia; font-weight: bold; ">Задание 2 </span>   

<span style=" font-family:Georgia; font-weight: bold; ">Ниже описаны 2 способа отфильтровать датасет по расстоянию. Почему получились разные списки? 
Выведите строки из набора gdf_metro_utm, которые подтверждают, что 3 станции метро, действительно не могли попасть во второй список </span>

In [88]:
series_min_dists = gdf_metro_utm.groupby("NameOfStation")["min_dist"].min()
series_min_dists.head()

NameOfStation
Авиамоторная           1287.333188
Автозаводская           953.759556
Академическая          1056.354822
Александровский сад     180.941943
Алексеевская           1314.760257
Name: min_dist, dtype: float64

In [89]:
remote_stations_2 = series_min_dists[series_min_dists.values > 2000].index.tolist()

In [90]:
print(
    "Cписок станций,от которых до ближайшей станции больше 2 км:\n{}".format(
        remote_stations
    )
)

Cписок станций,от которых до ближайшей станции больше 2 км:
['Отрадное' 'Новокосино' 'Строгино' 'Университет' 'Тропарёво'
 'Белокаменная' 'Озерная' 'Коптево' 'Филатов луг' 'Прокшино']

In [91]:
print(
    "Cписок станций,от которых до ближайшей станции больше 2 км:\n{}".format(
        remote_stations_2
    )
)

Cписок станций,от которых до ближайшей станции больше 2 км:
['Белокаменная', 'Коптево', 'Новокосино', 'Озерная', 'Прокшино', 'Строгино', 'Филатов луг']

**Ответ на вопрос "почему получились разные списки"**: потому что во втором случае мы считали

Выведите строки из набора gdf_metro_utm, которые подтверждают, что 3 станции метро, действительно не могли попасть во второй список

In [127]:
grouped_metro_max = gdf_metro_utm.groupby("NameOfStation")["min_dist"].max()
grouped_metro_min = gdf_metro_utm.groupby("NameOfStation")["min_dist"].min()


imposters = []
for station_name in grouped_metro_max[grouped_metro_max.values > 2000].index.tolist():
    if station_name in grouped_metro_min[grouped_metro_min.values < 2000].index.tolist():
        print(station_name)
        imposters.append(station_name)

gdf_metro_utm[gdf_metro_utm["NameOfStation"].isin(imposters)].sort_values(["NameOfStation", "min_dist"], ascending=False)

Отрадное
Тропарёво
Университет

,global_id,Caption,NameOfStation,geometry,min_dist,geometry_buffer,number_neigbors_2km
430,1774006,metro,Университет,POINT (407904.636 6172736.915),2037.268117,"POLYGON ((409904.636 6172736.915, 409895.005 6...",0
431,1774007,metro,Университет,POINT (407893.831 6172929.418),1877.782856,"POLYGON ((409893.831 6172929.418, 409884.2 617...",7
738,4131721,metro,Тропарёво,POINT (403836.226 6167542.335),2154.527896,"POLYGON ((405836.226 6167542.335, 405826.596 6...",0
736,4131717,metro,Тропарёво,POINT (403794.956 6167598.408),2116.887209,"POLYGON ((405794.956 6167598.408, 405785.325 6...",0
737,4131718,metro,Тропарёво,POINT (403881.634 6167577.774),2105.842642,"POLYGON ((405881.634 6167577.774, 405872.003 6...",0
734,4131715,metro,Тропарёво,POINT (403768.416 6167624.621),2102.630990,"POLYGON ((405768.416 6167624.621, 405758.786 6...",0
735,4131716,metro,Тропарёво,POINT (403841.908 6167634.815),2065.915748,"POLYGON ((405841.908 6167634.815, 405832.278 6...",0
733,4131714,metro,Тропарёво,POINT (403819.96 6167664.812),2045.945284,"POLYGON ((405819.96 6167664.812, 405810.329 61...",0
731,4131710,metro,Тропарёво,POINT (403932.422 6167753.95),1922.810737,"POLYGON ((405932.422 6167753.95, 405922.792 61...",4
732,4131713,metro,Тропарёво,POINT (403989.127 6167798.504),1862.201892,"POLYGON ((405989.127 6167798.504, 405979.496 6...",4
113,1773667,metro,Отрадное,POINT (412759.28 6191841.175),2014.918409,"POLYGON ((414759.28 6191841.175, 414749.65 619...",0
112,1773666,metro,Отрадное,POINT (412716.328 6191859.519),2010.410252,"POLYGON ((414716.328 6191859.519, 414706.697 6...",0
1000,1047586162,metro,Отрадное,POINT (412760.706 6191814.951),1992.802750,"POLYGON ((414760.706 6191814.951, 414751.075 6...",2
999,1047586011,metro,Отрадное,POINT (412670.005 6191863.793),1992.706525,"POLYGON ((414670.005 6191863.793, 414660.374 6...",2
114,1773668,metro,Отрадное,POINT (412610.513 6191697.555),1817.810379,"POLYGON ((414610.513 6191697.555, 414600.883 6...",2
111,1773665,metro,Отрадное,POINT (412653.551 6191661.619),1806.593857,"POLYGON ((414653.551 6191661.619, 414643.92 61...",2
624,1774261,metro,Отрадное,POINT (412591.08 6191659.094),1774.721255,"POLYGON ((414591.08 6191659.094, 414581.45 619...",3
640,1774279,metro,Отрадное,POINT (412636.837 6191633.79),1774.147757,"POLYGON ((414636.837 6191633.79, 414627.206 61...",3

<span style="color:red; font-family:Georgia; font-weight: bold; ">Конец задания</span>

<span style="font-family:Georgia;  font-size:14px"> А можно без цикла и быстрее? <br> </span>

**<span style='font-family:Georgia;background-color:#00ffff;'> 3 способ решения. С использованием буфера и spatial join</span>**

<a id="spatial_join">  </a>
##  <span style='font-family:Georgia; background-color:yellow;'> Пространственная сцепка </span>

Шаги:

    1. Строим от каждой станции буфер 2 км
    2. Формируем 2 geodataframe формата "геометрия-имя станции- global_id": в 1-ом геометрия - точка станции, во 2-ом геометрия - полигон буфера
    3. Сцепляем их с помощью spatial join. Логика : buffer.contains(point)
    4. Считаем для каждого выхода со станции сколько в его буфере станций с отличным от него названием
    5. Считаем для каждой станции максимальное число чужих выходов, которое можно достичь в радиусе 2 км из его выходов
    6. В датасете из шага 5 оставляем те станции, где число на 6 шаге =0

* <span style="font-family:Georgia; font-weight:bold;font-size:18px"> Теория </span>

<img src="https://github.com/Ines2607/geoanalytics_python_rus/blob/main/spatial%20join.PNG?raw=true"
     alt="Markdown Monster icon"
     style="float: left; margin-right: 10px;width:600px;height:300px;" />

**Все доступные операции**
     
В видео Практическое занятие 8 указаны 3 доступные операции, однако начиная с geopandas>0.10 их кол-во увеличилось.
Получить все доступные на сегодня можно запустив код ниже:

In [128]:
gdf_metro_utm.sindex.valid_query_predicates

{None,
 'contains',
 'contains_properly',
 'covered_by',
 'covers',
 'crosses',
 'dwithin',
 'intersects',
 'overlaps',
 'touches',
 'within'}

Часто используемые операции:
 - intersects
 - contain
 - within

<span style=" font-family:Georgia; font-weight: bold; "> 1. Строим от каждой станции буфер 2 км </span>

In [129]:
gdf_metro_utm["geometry_buffer"] = gdf_metro_utm["geometry"].buffer(2000)

<span style=" font-family:Georgia; font-weight: bold; ">  2. Формируем 2 geodataframes формата "геометрия-имя станции- global_id": в 1-ом геометрия - точка станции, во 2-ом геометрия - полигон буфера</span>

In [130]:
gdf_metro_utm2 = gdf_metro_utm[["geometry", "NameOfStation", "global_id"]]

In [131]:
gdf_metro_utm_buffer = gdf_metro_utm.set_geometry("geometry_buffer")[
    ["geometry_buffer", "NameOfStation", "global_id"]
]

<span style=" font-family:Georgia; font-weight: bold; ">    3. Сцепляем их с помощью spatial join. Логика : buffer.contains(point)
</span>

<span style=" font-family:Georgia"> Сцепляем оба датасета через функцию spatial join.
    Порядок указания датасетов важен, потому что показывает по значениям какой таблицы мы фильтруем сцепку, то есть какая таблица основная - по ней фильтр, а какая добавочная.

В отличие от pandas.join добавляется аттрибут 'predicate'( в ранних версиях 'op')

<span style=" font-family:Georgia"> **Важно**: остается только одна колонка с геометрией - из таблицы которая указана слева
</span>

In [132]:
%%time

gdf_metro_utm_pairs2km = gdf_metro_utm_buffer.sjoin(\
                                                    gdf_metro_utm2,
                                                    how ='left',
                                                    predicate ='contains',
                                                    lsuffix ='main',
                                                    rsuffix ='neighbor'
                                                   )

CPU times: user 11.7 ms, sys: 3.36 ms, total: 15 ms
Wall time: 14.5 ms

In [133]:
gdf_metro_utm_pairs2km.columns

Index(['geometry_buffer', 'NameOfStation_main', 'global_id_main',
       'index_neighbor', 'NameOfStation_neighbor', 'global_id_neighbor'],
      dtype='object')

In [134]:
gdf_metro_utm_pairs2km

,geometry_buffer,NameOfStation_main,global_id_main,index_neighbor,NameOfStation_neighbor,global_id_neighbor
0,"POLYGON ((416129.655 6179917.682, 416120.024 6...",Китай-город,1773539,565,Чеховская,1774161
0,"POLYGON ((416129.655 6179917.682, 416120.024 6...",Китай-город,1773539,741,Пушкинская,4485045
0,"POLYGON ((416129.655 6179917.682, 416120.024 6...",Китай-город,1773539,453,Чеховская,1774035
0,"POLYGON ((416129.655 6179917.682, 416120.024 6...",Китай-город,1773539,564,Чеховская,1774160
0,"POLYGON ((416129.655 6179917.682, 416120.024 6...",Китай-город,1773539,743,Пушкинская,4485047
...,...,...,...,...,...,...
1013,"POLYGON ((418854.419 6174774.592, 418844.789 6...",Дубровка,1056492949,1013,Дубровка,1056492949
1013,"POLYGON ((418854.419 6174774.592, 418844.789 6...",Дубровка,1056492949,83,Волгоградский проспект,1773637
1013,"POLYGON ((418854.419 6174774.592, 418844.789 6...",Дубровка,1056492949,720,Волгоградский проспект,1774392
1013,"POLYGON ((418854.419 6174774.592, 418844.789 6...",Дубровка,1056492949,704,Волгоградский проспект,1774372
1013,"POLYGON ((418854.419 6174774.592, 418844.789 6...",Дубровка,1056492949,50,Волгоградский проспект,1773600

<span style=" font-family:Georgia; font-weight: bold; ">   4. Считаем для каждого выхода со станции сколько в его буфере станций с отличным от него названием</span>

In [137]:
gdf_metro_utm_pairs2km["flag_dif_station"] = (gdf_metro_utm_pairs2km["NameOfStation_main"] != gdf_metro_utm_pairs2km["NameOfStation_neighbor"])

In [138]:
gdf_metro_utm_pairs2km["flag_dif_station"].value_counts()

flag_dif_station
True     16056
False     6230
Name: count, dtype: int64

In [139]:
df_stat_enter_num = (
    gdf_metro_utm_pairs2km.groupby(["NameOfStation_main", "global_id_main"])["flag_dif_station"]
    .sum()
    .to_frame()
)

In [141]:
df_stat_enter_num.head()

                                   flag_dif_station
NameOfStation_main global_id_main
Авиамоторная       1774383                        4
                   1774384                        4
                   1774385                        4
                   1774386                        4
                   1774387                        4

In [140]:
df_stat_enter_num.shape

(1014, 1)

<span style=" font-family:Georgia; font-weight: bold; ">  5. Cчитаем для каждой станции максимальное число чужих выходов, которое можно достичь в радиусе 2 км из его выходов
</span>

In [142]:
df_stat_enter_num.head()

                                   flag_dif_station
NameOfStation_main global_id_main
Авиамоторная       1774383                        4
                   1774384                        4
                   1774385                        4
                   1774386                        4
                   1774387                        4

In [145]:
ser_enter_num_max = df_stat_enter_num.groupby(["NameOfStation_main"])[
    "flag_dif_station"
].max()

ser_enter_num_max.head()

NameOfStation_main
Авиамоторная            5
Автозаводская          18
Академическая          10
Александровский сад    61
Алексеевская            9
Name: flag_dif_station, dtype: int64

<span style=" font-family:Georgia; font-weight: bold; ">  6. оставляем те станции, где число на 6 шаге =0 </span>

In [146]:
ser_enter_num_max[ser_enter_num_max.values == 0]

NameOfStation_main
Белокаменная    0
Коптево         0
Новокосино      0
Озерная         0
Прокшино        0
Строгино        0
Филатов луг     0
Name: flag_dif_station, dtype: int64

In [147]:
print(
    "Список наиболее удаленных станций: {}".format(
        ser_enter_num_max[ser_enter_num_max.values == 0].index.tolist()
    )
)

Список наиболее удаленных станций: ['Белокаменная', 'Коптево', 'Новокосино', 'Озерная', 'Прокшино', 'Строгино', 'Филатов луг']

<a id="task8">  </a>
<span style="color:red; font-family:Georgia; font-weight: bold ">Задание 3 </span> 

<span style=" font-family:Georgia; "> **Самостоятельное изучение последних обновлений библиотеки GeoPandas** </span>
    
Когда вы на постоянной основе начнете работать с библиотеками геопространственного анализа в Python, то вы заметите как активно они обновляются и улучшаются, расширяя функционал и уменьшая ваше время на код. Ниже я хочу, чтобы вы самостоятельно разобрались как работают 2 метода, которые появились в библиотеке за последний год. Вопросы по этим методам вы найдете в **Практическом тесте**

**1. Метод estimate_utm_crs**   
Ссылка: https://geopandas.org/en/stable/docs/reference/api/geopandas.GeoDataFrame.estimate_utm_crs.html

Примените этот метод к датасету gdf_metro, посмотрите на результат. Затем ответьте на вопрос в тесте

**2. Метод sjoin_nearest**   
Ссылка: https://geopandas.org/en/stable/docs/reference/api/geopandas.GeoDataFrame.sjoin_nearest.html

Примените этот метод к датасету gdf_metro, обратите внимение на атрибуты max_distance и distance_col, а также требования к CRS датасетов, указанные в документации. Поэкспериментируйте и затем ответьте на вопрос в тесте.

In [148]:
gdf_metro.estimate_utm_crs()

<Projected CRS: EPSG:32637>
Name: WGS 84 / UTM zone 37N
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: Between 36°E and 42°E, northern hemisphere between equator and 84°N, onshore and offshore. Djibouti. Egypt. Eritrea. Ethiopia. Georgia. Iraq. Jordan. Kenya. Lebanon. Russian Federation. Saudi Arabia. Somalia. Sudan. Syria. Türkiye (Turkey). Ukraine.
- bounds: (36.0, 0.0, 42.0, 84.0)
Coordinate Operation:
- name: UTM zone 37N
- method: Transverse Mercator
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich